body {
  background-color: #eb8e02 !important;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 90px;
  width: auto;
  margin-bottom: 20px;
}

.car {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ecran {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(9, auto);
  column-gap: 10px;
  row-gap: 40px;
  margin-left: 100px;
}
